{% extends 'sistema/layout_sistema.twig' %}
{% block styles %}
{% endblock %}
{% block conteudo %}
    <h1>Olá Mundo!</h1>
{% endblock %}
{% block scripts %}
    <script src="{{ base_url('assets/js/viacep.js') }}"></script>
{% endblock %}