/* 
    Created on : 16/12/2016, 13:39:38
    Author     : Thiago Moura
*/
html, *, h1, h2, h3, h4, h5, h6{
    font-family: 'sofia_prolight';
    font-weight: normal;
}
.altura-maxima{
    height: 100%;
    max-height: 100%;
}
.off-canvas{
    font-size: 80%;
}
.canvas-logo *{
    font-family: Arial;
    font-weight: bold;
}
.canvas-logo, .canvas-user, .canvas-user-foto, .canvas-user-dados, .canvas-user-menu, .off-canvas-menu{
    float: left;
}
.canvas-user, .title-page, .canvas-logo{
    padding-right: .9375rem;
}
.canvas-user, .title-page, .canvas-user-dados, .canvas-logo{
    padding-left: .9375rem;
}
.canvas-user-foto, .canvas-user-dados, .title-page{
    padding-top: .9375rem;
}
.canvas-user-foto{
    width: 18%;
}
.canvas-user-dados{
    width: 82%;
}
.canvas-logo, .canvas-user, .canvas-user-menu, .title-expanse, .off-canvas-menu{
    width: 100%;
}
.canvas-logo{
    padding: .5rem;
}
.canvas-logo-title{
    line-height: 1.5em;
    font-size: 1rem;
}
.canvas-user-foto img{
    max-height: 3.75em;
    border-radius: 50%;
}
.canvas-user-subtitle{
    font-size: 75%;
}
.off-canvas-menu .menu > li > a i,
.off-canvas-menu .menu > li > a img,
.off-canvas-menu .menu > li > a svg{
    margin-right: .9375rem;
}
.fa-sm{
    font-size: 60%;
    width: 2.3em;
}
.off-canvas-menu .fa-lg{
    font-size: 110%;
}
.canvas-user-menu a{
    border-bottom: 1px solid transparent;
}
.is-accordion-submenu-parent > a::after{
    content: "\f107";
    border: none;
    font: normal normal normal 14px/1 FontAwesome;
    width: auto;
    vertical-align: middle;
    top: 25%;
    margin-top: 0px;
    line-height: 1.5em;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    -webkit-transform: none;
    transform: none;
    content: "\f106";
}
.off-canvas-content{
    box-shadow: none;
}
.top-bar, .top-bar-title{
    padding: 0px;
}
.top-bar .menu > li > a, .top-bar .menu > li > a i, .top-bar button{
    line-height: 1.5rem;
    font-size: 1rem;
}
.top-bar .menu > li > a, .top-bar button{
    padding: .5rem;
    min-width: 2.5rem;
}
.top-bar .menu > li > a i, .top-bar .menu > li > a span{
    margin: 0px .25rem;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
}
/* Large and up */
@media screen and (min-width: 64em) {
    
    
}