/* 
    Created on : 16/12/2016, 13:39:38
    Author     : Thiago Moura
*/
:root{
    --screen-padding: .625rem;
    --top-bar-height: 2.8125rem;
}
html, *, h1, h2, h3, h4, h5, h6{
    font-family: 'sofia_prolight';
    font-weight: normal;
}
.altura-maxima{
    height: 100%;
    max-height: 100%;
}
.off-canvas{
    font-size: 80%;
}
.canvas-logo{
    max-height: var(--top-bar-height);
}
.canvas-logo *{
    font-family: Arial;
    font-weight: bold;
}
.canvas-logo img{
    max-height: var(--top-bar-height);
    padding: .75rem;
}
.canvas-logo, .canvas-user, .canvas-user-foto, .canvas-user-dados, .canvas-user-menu, .off-canvas-menu{
    float: left;
}
.canvas-user, .title-page{
    padding-right: .9375rem;
}
.canvas-user, .title-page, .canvas-user-dados{
    padding-left: .9375rem;
}
.canvas-user-foto, .canvas-user-dados{
    padding-top: .9375rem;
}
.title-page, .content-block{
    padding-bottom: .9375rem;
}
.canvas-user-foto{
    width: 18%;
}
.canvas-user-dados{
    width: 82%;
}
.canvas-logo, .canvas-user, .canvas-user-menu, .title-expanse, .off-canvas-menu{
    width: 100%;
}
.canvas-logo-title{
    padding: .5rem;
    line-height: 1.5em;
    font-size: 1rem;
}
.canvas-user-foto img{
    max-height: 3.75em;
    border-radius: 50%;
}
.canvas-user-subtitle{
    font-size: 75%;
}
.off-canvas-menu .menu > li > a i,
.off-canvas-menu .menu > li > a img,
.off-canvas-menu .menu > li > a svg{
    margin-right: .9375rem;
}
.fa-sm{
    font-size: 60%;
    width: 2.3em;
}
.off-canvas-menu .fa-lg{
    font-size: 110%;
}
.canvas-user-menu a{
    border-bottom: 1px solid transparent;
}
.is-accordion-submenu-parent > a::after{
    content: "\f107";
    border: none;
    font: normal normal normal 14px/1 FontAwesome;
    width: auto;
    vertical-align: middle;
    top: 25%;
    margin-top: 0px;
    line-height: 1.5em;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    -webkit-transform: none;
    transform: none;
    content: "\f106";
}
.off-canvas-content{
    box-shadow: none;
}
/*.top-fade{
    z-index: -1;
    position: absolute;
    margin: -1rem;
    width: 100%;
    height: 1px;
    box-shadow: 0px 5px 12px 2px black;
}
.content-block:not(.top-fade){
    z-index: -2;
}*/
.dmx-button, .dmx-button *{
    line-height: var(--top-bar-height);
    color: white;
}
.dmx-button, .label, .label.primary{
    background-color: var(--main-color-125);
}
.dmx-button, .dmx-top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a.dmx-button {
    padding: 0 var(--screen-padding);
    display: flex !important;
    flex-grow: 1;
}
.dmx-button:hover{
    background-color: var(--main-color-175);
}
.dmx-button > *{
    display: block;
}
.dmx-button.dmx-reverse, .dmx-button.dmx-reverse *{
    color: var(--main-color-125);
    background-color: transparent;
}
.dmx-button.dmx-reverse:hover, .dmx-button.dmx-reverse:hover *{
    color: var(--main-color-150);
}
.dmx-button .dmx-button-text{
    padding-left: .5rem;
}
.dmx-button.dmx-reverse.alert, .dmx-button.dmx-reverse.alert *{
    color: var(--red);
}
.dmx-button.dmx-reverse.alert:hover, .dmx-button.dmx-reverse.alert:hover *{
    color: var(--red-150);
}

.top-bar.dmx-top-bar *{
    color: white;
    padding-bottom: 0px;
    padding-top: 0px;
}
.top-bar.dmx-top-bar{
    max-height: var(--top-bar-height);
    height: var(--top-bar-height);
    padding: 0;
}
.top-bar.dmx-top-bar .menu-text{
    font-weight: normal;
    line-height: var(--top-bar-height);
}
.top-bar.dmx-top-bar .top-bar-left, .top-bar.dmx-top-bar .top-bar-right{
    width: auto;
}
.dmx-button{
    font-size: .75rem;
    text-transform: uppercase;
}
.menu > li > a.dmx-button i, .menu > li > a.dmx-button img, .menu > li > a.dmx-button svg {
    margin-right: 0;
}
.top-bar.dmx-top-bar ul.submenu{
    background-color: white;
    z-index: 2;
}
.top-bar.dmx-top-bar ul.submenu *{
    color: var(--black);
}
.top-bar.dmx-top-bar ul.submenu .dmx-button{
    background-color: white;
}
.top-bar.dmx-top-bar ul.submenu .dmx-button:hover{
    background-color: var(--black-0);
}
.top-bar.dmx-top-bar .dmx-button{
    
}
.dmx-top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a.dmx-button::after {
    display: none;
}
.dmx-top-bar .dmx-button.square-button{
    height: var(--top-bar-height);
    min-width: var(--top-bar-height);
    max-width: var(--top-bar-height);
    text-align: center;
}
.dmx-top-bar .dmx-modal-title{
    padding-left: 0;
}
/*.top-bar .menu > li > a i, .top-bar .menu > li > a span, .top-bar .menu > li > label i, .top-bar .menu > li > label span{
    margin: 0px .25rem;
}
.dmx-button span{
    padding-left: .5rem;
    text-transform: uppercase;
    font-size: .75rem;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}*/
.content-block{
    overflow: auto;
}
.lista-upload-xml{
    list-style: none;
    margin-left: 0px;
}
.lista-upload-xml .callout{
    padding: 1rem 0px 1rem 0px;
}
.fa-spin.fa-lg, fa-spin.fa-3x, .fa-pulse.fa-lg, fa-pulse.fa-3x{
    line-height: 0.9;
}
.divisao-bar-content{
    height: .25rem;
    width: 100%;
    position: absolute;
    background: url('../imagens/sombra.png');
    background-repeat: repeat-x;
    background-size: auto .25rem;
    z-index: 1;
}
.no-padding-h{
    padding-left: 0px !important;
    padding-right: 0px !important; 
}
.no-padding-left{
    padding-left: 0px;
}
.no-padding-right{
    padding-right: 0px;
}
/* Input Style */
/*[type="color"], [type="date"], [type="datetime-local"], [type="datetime"], 
[type="email"], [type="month"], [type="number"], [type="password"], 
[type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], 
[type="week"] {
.modern-input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}
.modern-input-group > .input-group-field{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-width: 0 0 1px 0;
    background-color: transparent;
    padding: 0px;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    color: #0a0a0a;
    transition: none;
}
.modern-input-group.modern-selector > .input-group-field{
    background: none;
    text-align: right;
}
.modern-input-group > .input-group-label{
    border-width: 0 0 1px 0;
    background-color: transparent;
    cursor: text;
    padding: 0px 1rem 0px 0px;
}
.modern-input-group > .error-msg{
    display: none;
    position: absolute;
    font-size: 70%;
    left: 0px;
    overflow: hidden;
    height: 1rem;
    width: 100%;
    cursor: pointer;
}
.modern-input-group.is-invalid > .error-msg{
    display: block;
}
.modern-input-group.on-focus > .error-msg{
    border-width: 0px 1px 1px 1px;
    padding: .625rem;
    z-index: 10;
    height: auto;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .2), 0px 7px 15px 0px rgba(0, 0, 0, .2);
}
.modern-input-group > .error-msg > .error-expand,
.modern-input-group.on-focus > .error-msg > .error-compress{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: .15625rem;
}
.modern-input-group.on-focus > .error-msg > .error-expand,
.modern-input-group > .error-msg > .error-compress{
    display: none;
}
.modern-input-group > .input-group-field::-moz-placeholder{
    color: transparent;
    font-weight: 400;
    opacity: 1;
}
.modern-input-group > .input-group-field::-webkit-input-placeholder{
    color: transparent;
    font-weight: 400;
}
.modern-input-group > :focus{
    outline: none;
    border-width: 0 0 1px 0;
    background-color: transparent;
    box-shadow: none;
    transition: border-color .25s ease-in-out;
}
.modern-input-group.on-focus:not(.modern-selector) > .input-group-label{
    display: none;
}
.modern-radio input[type=radio], .modern-checkbox input[type=checkbox] {
    display: none;
}
.modern-radio label, .modern-checkbox label {
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 2.5rem;
    display: inline-block;
    margin: 0px 1rem 0px 0px;
    -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}
.modern-radio label:before, .modern-checkbox label:before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: .75rem;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .15s linear;
    transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .15s linear;
}
.modern-radio label:before {
    border-radius: 50%;
}
.modern-checkbox input[type=checkbox]:checked + label:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
}
.modern-form-list-add{
    margin-left: 0;
    list-style: none;
}
.modern-form-list-add .modern-list-group{
    margin-left: -.625rem;
}
.modern-form-list-add .modern-list-group, .modern-form-list-add .modern-list-title{
    padding-right: 1.5rem;
    position: relative;
}
.modern-form-list-add .modern-list-group .modern-form-list-button,
.modern-form-list-add .modern-list-title .modern-form-list-button{
    display: inline-block;
    border-width: 1px;
    border-radius: 50%;
    min-width: 0px;
    width: 1.4375rem;
    height: 1.4375rem;
    font-size: .875rem;
    position: absolute;
    right: 0px;
    transition: border .3s ease-in-out;
}
.modern-form-list-add .modern-list-group .modern-form-list-button{
    top: .9875rem;
}
.modern-form-row::after, .modern-form-row::before{
    display: table;
    content: " ";
}
.modern-form-row::after {
    clear: both;
}*/
/*********************
 * Estilos Formulário
 *********************/
.form-error{
    margin-top: -1.125rem;
    margin-bottom: 0px;
}
/**************************
 * Estilos tabela dinâmica
 **************************/
.dmx-table [type="checkbox"], .dmx-table [type="file"], .dmx-table [type="radio"]{
    margin: 0px;
}
.dmx-table tr[data-row="model"]{
    display: none;
}
.dmx-table th[onclick]{
    cursor: pointer;
}
.dmx-table th[onclick] span{
    font-weight: 700;
    display: table;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .tabs-panel{
        padding: .5rem;
    }
}
/****************
 * Estilo loader
 ****************/
.loader-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: white;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 2;
}
.loader-container .loader{
    font-size: 1rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .dmx-top-bar .dmx-page-title{
        padding-left: 0px;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .modern-form-list-add .modern-list-group{
        margin-left: -.9375rem;
        /*margin-right: -.9375rem;*/
    }
    .modern-form-column{
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    :root{
        --screen-padding: 1rem;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .dmx-top-bar .dmx-page-title{
        padding-left: 0px;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .content-block{
        padding-top: .9375rem;
    }
    .position-left.reveal-for-large ~ .off-canvas-content .loader-container{
        left: 250px;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}