/* 
    Created on : 17/06/2016, 15:16:54
    Author     : Thiago Moura
*/
.top-bar-wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: auto; }

.top-bar-wrapper-inner {
  position: relative;
  height: 100%;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease; }
  .top-bar-wrapper-inner::before, .top-bar-wrapper-inner::after {
    content: ' ';
    display: table; }
  .top-bar-wrapper-inner::after {
    clear: both; }
.top-bar-content,
.top-bar-content {
  height: 100%;
  min-width: 100%;
  background: #fefefe;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
  padding-bottom: 0.1px;
  }
.dm-top-bar {
  position: absolute;
  background: #2ba6cb;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding-top: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
/*  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); */}
  [data-whatinput='mouse'] .dm-top-bar {
    outline: 0; }
  .dm-top-bar.position-top {
    top: 0px;
    height: 140px; }
    .is-open-top {
        padding-top: 140px;
/*      -webkit-transform: translateY(140px);
          -ms-transform: translateY(140px);
              transform: translateY(140px);*/ }
    #offCanvas{
        padding-top: 0px;
    }
.altura-maxima{
    height: 100%;
    max-height: 100%;
}
.fundo-azul{
    background-color: #2ba6cb;
}
.fonte-cinza-claro, .fonte-cinza-claro button{
    color: #f1f1f1;
}
.fundo-azul-claro{
    background-color: rgb(240,248,255);
}
.fundo-transparente{
    background-color:transparent;
}


