/* 
    Created on : 23/12/2016, 22:44:26
    Author     : Thiago Moura
    URL:
        - Tom Médio: https://coolors.co/f9dc5c-5bba6f-30bced-ea526f-262626
        - Tom Alto: https://coolors.co/72642a-2a5533-16566c-6b2633-121212
        - Tom Baixo: https://coolors.co/fcefb4-b4dfbd-a0e0f6-f5b0bd-9c9c9c
    Cores: 
        - Preto (Tom Médio): rgba(38, 38, 38, 1);
        - Preto (Tom Escuro): rgba(18, 18, 18, 1);
        - Preto (Tom Claro): rgba(156, 156, 156, 1);
        - Azul (Tom Médio): rgba(48, 188, 237, 1);
        - Azul (Tom Escuro): rgba(22, 86, 108, 1);
        - Azul Escuro Médio: rgba(35, 137, 173, 1);
        - Azul (Tom Claro): rgba(160, 224, 246, 1);
        - Verde Médio: rgba(91, 186, 111, 1);
        - Vermelho Médio: rgba(234, 82, 111, 1);
        - Vermelho Médio Claro: rgba(245, 176, 189, 1);
        - Vermelho Claro: rgba(245, 176, 189, 1);
0 mais claro
25, 50, 75 entre o mais claro e a cor de centro
100 é a cor de centro.
125, 150, 175 entre a cor de centro e o mais escuro
200 mais escuro
*/
:root {
    --main-color: rgba(48, 188, 237, 1);
    --main-color-50: rgba(160, 224, 246, 1);
    --main-color-50-r: 160;
    --main-color-50-g: 224;
    --main-color-50-b: 246;
    --main-color-125: rgba(35, 137, 173, 1);
    --main-color-150: rgba(22, 86, 108, 1);
    --main-color-175: rgba(15, 52, 65, 1);
    --black: rgba(38, 38, 38, 1);
    --black-0: rgba(235,235,235,1);
    --black-25: rgba(195, 195, 195, 1);
    --black-50: rgba(156, 156, 156, 1);
    --black-75: rgba(97, 97, 97, 1);
    --black-150: rgba(18, 18, 18, 1);
    --red: rgba(234, 82, 111, 1);
    --red-0: rgba(253,239,241,1);
    --red-50: rgba(245, 176, 189, 1);
    --red-150: rgba(107,38,51,1);
}
*, h1, h2, h3, h4, h5, h6{
    color: var(--black);
}
.off-canvas-menu{
    background-color: var(--black);
}
.top-bar, .top-bar ul{
    background-color: var(--main-color-125);
}
.canvas-logo, .top-bar .menu > li > a:hover, .top-bar button:hover, .top-bar .menu > li > label:hover{
    background-color: var(--main-color-150);
}
.top-bar-title, .top-bar-title *,
.top-bar a, .top-bar a *,
.top-bar label, .top-bar label *{
    color: white;
}
.canvas-user-title, .canvas-user-subtitle, .off-canvas h1, .off-canvas h2, .off-canvas h3, .off-canvas h4, .off-canvas h5, .off-canvas h6{
    color: var(--black-50);
}
.canvas-user-menu a,
.canvas-user-menu a *,
.off-canvas-menu a,
.off-canvas-menu a *,
.off-canvas .close-button span{
    color: var(--black-50);
}
.off-canvas a:hover, .off-canvas a:hover *, .off-canvas .close-button:hover span, .off-canvas-menu a.is-active *{
    color: white;
}
.off-canvas a:hover{
    border-bottom-color: var(--main-color-150);
}
.off-canvas-menu a:hover{
    background-color: var(--main-color-150);
}
.off-canvas-menu a.is-active{
    background-color: var(--main-color-125);
}
.off-canvas{
    background-color: var(--black-150);
}
.off-canvas-menu .is-accordion-submenu-parent > a::after{
    border-top-color: var(--black-50);
}
.off-canvas-menu .is-accordion-submenu-parent > a:hover::after{
    border-top-color: white;
}
.canvas-logo .canvas-logo-title, .canvas-logo .canvas-logo-title *{
    color: white;
}
.js-off-canvas-exit, .js-off-canvas-overlay{
    background: hsla(0,0%,0%,.7);
}
/* Botões e links da página */
a{
    color: var(--main-color-125);
}
a:hover{
    color: var(--main-color-150);
}
.button, .button *{
    color: white;
}
.button{
    background-color: var(--main-color);
}
.button:focus, .button:hover{
    background-color: var(--main-color-150);
    color: white;
}
.fa-spin, .fa-pulse{
    color: var(--main-color);
}
.tabs-content{
    border: none;
}
.tabs{
    border-width: 0px 0px 1px;
    border-color: var(--black-50);
    background: rgba(253, 253, 253, 1);
}
.tabs-title > a{
    border-bottom: transparent solid 3px;
    color: var(--black-50);
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"]{
    background: transparent;
    color: var(--main-color-125);
    border-bottom-color: var(--main-color-125);
}
/****************
 * Estilo Textos
 ****************/
.text-alert{
    color: var(--red);
}
/*********************
 * Estilo Formulários
 *********************/

[type="color"], [type="date"], [type="datetime-local"], [type="datetime"],
[type="email"], [type="month"], [type="number"], [type="password"], [type="search"],
[type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea{
    box-shadow: none;
}

.switch-line{
    border-top: 1px #cacaca solid;
    padding: .5rem 0px .5rem 0px;
    transition: background-color .25s ease-out,color .25s ease-out;
}
.switch-line:hover{
    background-color: #f8f8f8;
}
/**************************
 * Estilos tabela dinâmica
 **************************/
.dmx-table th[onclick]:hover, .dmx-table th[onclick]:hover i{
    color: var(--main-color-150);
}
/****************
 * Estilo loader
 ****************/
.loader-container .loader{
    color: var(--main-color-50);
    animation-name: loader-pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.loader-circle { 
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.loader-circle{
    border: 1px solid rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0);
    border-radius: 50%;
    border-top: 1px solid var(--main-color-125);
    border-left: 1px solid var(--main-color-125);
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite, loader-circle-pulse 1.5s ease infinite;
}
.loader-littlecircle{
    border: 1px solid rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0);
    border-radius: 50%;
    border-top: 1px solid var(--main-color-50);
    border-left: 1px solid var(--main-color-50);
    width: 1.5rem;
    height: 1.5rem;
    margin: .2rem;
    animation: spin-reverse 1s linear infinite, loader-circle-pulse 1.5s ease infinite;
}
@keyframes spin-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@keyframes loader-circle-pulse {
    0% {border-top-color: var(--main-color-50);border-left-color: var(--main-color-50);}
    50% {border-top-color: var(--main-color-125);border-left-color: var(--main-color-125);}
    100% {border-top-color: var(--main-color-50);border-left-color: var(--main-color-50);}
}
@keyframes loader-pulse {
    0% {color: var(--main-color-50);}
    50% {color: var(--main-color-125);}
    100% {color: var(--main-color-50);}
}
/* Formulário Modernos */
.modern-input-group.on-focus > .input-group-field::-moz-placeholder,
.modern-input-group.placeholder-visible > .input-group-field::-moz-placeholder, 
.modern-input-group > .input-group-label,
.modern-radio input[type=radio] + label,
.modern-checkbox input[type=checkbox] + label{
    color: var(--main-color);
}
.modern-input-group.on-focus > .input-group-field::-webkit-input-placeholder,
.modern-input-group.placeholder-visible > .input-group-field::-webkit-input-placeholder,
.modern-input-group > .input-group-label,
.modern-radio input[type=radio] + label,
.modern-checkbox input[type=checkbox] + label{
    color: var(--main-color);
}
.modern-input-group.on-focus.is-invalid > .input-group-field::-moz-placeholder,
.modern-input-group.placeholder-visible.is-invalid > .input-group-field::-moz-placeholder, 
.modern-input-group.is-invalid > .input-group-label,
.modern-radio.is-invalid input[type=radio] + label,
.modern-checkbox.is-invalid input[type=checkbox] + label{/*is-invalid*/
    color: rgba(245, 176, 189, 1);
}
.modern-input-group.on-focus.is-invalid > .input-group-field::-webkit-input-placeholder,
.modern-input-group.placeholder-visible.is-invalid > .input-group-field::-webkit-input-placeholder,
.modern-input-group.is-invalid > .input-group-label,
.modern-radio.is-invalid input[type=radio] + label,
.modern-checkbox.is-invalid input[type=checkbox] + label{/*is-invalid*/
    color: rgba(245, 176, 189, 1);
}
.modern-input-group.modern-selector > .input-group-label{
    color: var(--black-150);
}
.modern-input-group > .input-group-label, .modern-input-group > .input-group-field,
.modern-radio label:before, .modern-checkbox label:before{
    border-color: var(--main-color);
}
.modern-input-group > .input-group-field{
    color: var(--main-color-125);
}
.modern-input-group > .error-msg > .error-expand{
    background-color: white;
}
.modern-input-group.is-invalid .input-group-field, .modern-input-group.is-invalid .input-group-label,
.modern-input-group.on-focus > .error-msg{/*is-invalid*/
    border-style: solid;
    border-color: var(--red);
    background-color: white;
    color: var(--red);
}
.modern-input-group.on-focus .input-group-field, .modern-input-group.on-focus .input-group-label{
    border-color: var(--black-150);
}
.modern-radio input[type=radio]:checked + label:before{
    background-color: var(--main-color-125);
    box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0),
        0px 0px 0px 0px rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:before,
.modern-checkbox input[type=checkbox] + label:before{
    color: var(--main-color-125);
    box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0),
        0px 0px 0px 0px rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:hover:before,
.modern-radio input[type=radio] + label:focus:before,
.modern-checkbox input[type=checkbox] + label:hover:before,
.modern-checkbox input[type=checkbox] + label:focus:before{
    border-color: var(--main-color-125);
    color: var(--main-color-125);
    box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        0px 0px 0px 0px rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:hover,
.modern-checkbox input[type=checkbox] + label:hover,
.modern-radio input[type=radio]+ label:focus,
.modern-checkbox input[type=checkbox]+ label:focus{
    color: var(--main-color-125);
}
.modern-radio input[type=radio]:not(:checked) + label:focus:before,
.modern-checkbox input[type=checkbox]:not(:checked) + label:focus:before{
    box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio]:checked + label:active:before,
.modern-radio input[type=radio]:checked + label:focus:before{
    box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3),
        inset 0px 0px 0px .2rem white;
    background: var(--main-color-125);
}


.modern-form-list-add .modern-list-group .modern-form-list-button,
.modern-form-list-add .modern-list-title .modern-form-list-button{
    border-style: solid;
    border-color: var(--black-50);
}
.modern-form-list-add .modern-form-list-button:hover, .modern-form-list-add .modern-form-list-button:focus{
    border-color: var(--main-color);
}
/* Badge e textos coloridos*/
.badge, .badge *{
    color: white;
}
.badge.success, .badge.success *{
    background-color: rgba(91, 186, 111, 1);
}
.badge.alert, .badge.alert *{
    background-color: var(--red);
}
.success-text{
    color: rgba(91, 186, 111, 1);
}
.alert-text, .error-msg{
    color: var(--red);
}
.animate-button:active, .animate-button:focus{
    -webkit-animation: clickroundedbuttons .65s ease-in-out;
    animation: clickroundedbuttons .65s ease-in-out;
}
/********************
 * Cores dos botões *
 ********************/
.button.alert {
    background-color: var(--red);
}
.button.alert:focus, .button.alert:hover {
    background-color: var(--red-150);
}
@-webkit-keyframes clickroundedbuttons{
    0% {box-shadow: 0px 0px 0px 0px rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3);}
    40% {box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3);}
    50% {box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3);}
    100% {box-shadow: 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0);}
}
@keyframes clickroundedbuttons{
    0% {box-shadow: inherit, 0px 0px 0px 0px rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3), inherit;}
    40% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3), inherit;}
    50% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), .3), inherit;}
    100% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(var(--main-color-50-r),var(--main-color-50-g),var(--main-color-50-b), 0), inherit;}
}