/* 
    Created on : 23/12/2016, 17:27:45
    Author     : Thiago Moura
*/
@font-face{
    font-family: quicksand;
    src: url('Quicksand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
