/* 
    Created on : 23/12/2016, 22:44:26
    Author     : Thiago Moura
    URL:
        - Tom Médio: https://coolors.co/f9dc5c-5bba6f-30bced-ea526f-262626
        - Tom Alto: https://coolors.co/72642a-2a5533-16566c-6b2633-121212
        - Tom Baixo: https://coolors.co/fcefb4-b4dfbd-a0e0f6-f5b0bd-9c9c9c
    Cores: 
        - Preto (Tom Médio): rgba(38, 38, 38, 1);
        - Preto (Tom Escuro): rgba(18, 18, 18, 1);
        - Preto (Tom Claro): rgba(156, 156, 156, 1);
        - Azul (Tom Médio): rgba(48, 188, 237, 1);
        - Azul (Tom Escuro): rgba(22, 86, 108, 1);
        - Azul Escuro Médio: rgba(35, 137, 173, 1);
        - Azul (Tom Claro): rgba(160, 224, 246, 1);
        - Verde Médio: rgba(91, 186, 111, 1);
        - Vermelho Médio: rgba(234, 82, 111, 1);
        - Vermelho Médio Claro: rgba(245, 176, 189, 1);
        - Vermelho Claro: rgba(245, 176, 189, 1);
*/
*, h1, h2, h3, h4, h5, h6{
    color: rgba(38, 38, 38, 1);
}
.off-canvas-menu{
    background-color: rgba(38, 38, 38, 1);
}
.top-bar, .top-bar ul{
    background-color: rgba(35, 137, 173, 1);
}
.canvas-logo, .top-bar .menu > li > a:hover, .top-bar button:hover{
    background-color: rgba(22, 86, 108, 1);
}
.top-bar-title, .top-bar-title *,
.top-bar a, .top-bar a *{
    color: white;
}
.canvas-user-title, .canvas-user-subtitle, .off-canvas h1, .off-canvas h2, .off-canvas h3, .off-canvas h4, .off-canvas h5, .off-canvas h6{
    color: rgba(156, 156, 156, 1);
}
.canvas-user-menu a,
.canvas-user-menu a *,
.off-canvas-menu a,
.off-canvas-menu a *,
.off-canvas .close-button span{
    color: rgba(156, 156, 156, 1);
}
.off-canvas a:hover, .off-canvas a:hover *, .off-canvas .close-button:hover span, .off-canvas-menu a.is-active *{
    color: white;
}
.off-canvas a:hover{
    border-bottom-color: rgba(22, 86, 108, 1);
}
.off-canvas-menu a:hover{
    background-color: rgba(22, 86, 108, 1);
}
.off-canvas-menu a.is-active{
    background-color: rgba(35, 137, 173, 1);
}
.off-canvas{
    background-color: rgba(18, 18, 18, 1);
}
.off-canvas-menu .is-accordion-submenu-parent > a::after{
    border-top-color: rgba(156, 156, 156, 1);
}
.off-canvas-menu .is-accordion-submenu-parent > a:hover::after{
    border-top-color: white;
}
.canvas-logo .canvas-logo-title, .canvas-logo .canvas-logo-title *{
    color: white;
}
.js-off-canvas-exit, .js-off-canvas-overlay{
    background: hsla(0,0%,0%,.7);
}
/* Botões e links da página */
a{
    color: rgba(35, 137, 173, 1);
}
a:hover{
    color: rgba(22, 86, 108, 1);
}
.button, .button *{
    color: white;
}
.button{
    background-color: rgba(48, 188, 237, 1);
}
.button:focus, .button:hover{
    background-color: rgba(22, 86, 108, 1);
    color: white;
}
.fa-spin, .fa-pulse{
    color: rgba(48, 188, 237, 1);
}
/* Formulário Modernos */
.modern-input-group.on-focus > .input-group-field::-moz-placeholder,
.modern-input-group.placeholder-visible > .input-group-field::-moz-placeholder, 
.modern-input-group > .input-group-label,
.modern-radio input[type=radio] + label,
.modern-checkbox input[type=checkbox] + label{
    color: rgba(48, 188, 237, 1);
}
.modern-input-group.on-focus > .input-group-field::-webkit-input-placeholder,
.modern-input-group.placeholder-visible > .input-group-field::-webkit-input-placeholder,
.modern-input-group > .input-group-label,
.modern-radio input[type=radio] + label,
.modern-checkbox input[type=checkbox] + label{
    color: rgba(48, 188, 237, 1);
}
.modern-input-group.on-focus.is-invalid > .input-group-field::-moz-placeholder,
.modern-input-group.placeholder-visible.is-invalid > .input-group-field::-moz-placeholder, 
.modern-input-group.is-invalid > .input-group-label,
.modern-radio.is-invalid input[type=radio] + label,
.modern-checkbox.is-invalid input[type=checkbox] + label{/*is-invalid*/
    color: rgba(245, 176, 189, 1);
}
.modern-input-group.on-focus.is-invalid > .input-group-field::-webkit-input-placeholder,
.modern-input-group.placeholder-visible.is-invalid > .input-group-field::-webkit-input-placeholder,
.modern-input-group.is-invalid > .input-group-label,
.modern-radio.is-invalid input[type=radio] + label,
.modern-checkbox.is-invalid input[type=checkbox] + label{/*is-invalid*/
    color: rgba(245, 176, 189, 1);
}
.modern-input-group.modern-selector > .input-group-label{
    color: rgba(18, 18, 18, 1);
}
.modern-input-group > .input-group-label, .modern-input-group > .input-group-field,
.modern-radio label:before, .modern-checkbox label:before{
    border-color: rgba(48, 188, 237, 1);
}
.modern-input-group > .input-group-field{
    color: rgba(35, 137, 173, 1);
}
.modern-input-group > .error-msg > .error-expand{
    background-color: white;
}
.modern-input-group.is-invalid .input-group-field, .modern-input-group.is-invalid .input-group-label,
.modern-input-group.on-focus > .error-msg{/*is-invalid*/
    border-style: solid;
    border-color: rgba(234, 82, 111, 1);
    background-color: white;
    color: rgba(234, 82, 111, 1);
}
.modern-input-group.on-focus .input-group-field, .modern-input-group.on-focus .input-group-label{
    border-color: rgba(18, 18, 18, 1);
}
.modern-radio input[type=radio]:checked + label:before{
    background-color: rgba(35, 137, 173, 1);
    box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, 0),
        0px 0px 0px 0px rgba(160, 224, 246, .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:before,
.modern-checkbox input[type=checkbox] + label:before{
    color: rgba(35, 137, 173, 1);
    box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, 0),
        0px 0px 0px 0px rgba(160, 224, 246, .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:hover:before,
.modern-radio input[type=radio] + label:focus:before,
.modern-checkbox input[type=checkbox] + label:hover:before,
.modern-checkbox input[type=checkbox] + label:focus:before{
    border-color: rgba(35, 137, 173, 1);
    color: rgba(35, 137, 173, 1);
    box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, .3),
        0px 0px 0px 0px rgba(160, 224, 246, .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio] + label:hover,
.modern-checkbox input[type=checkbox] + label:hover,
.modern-radio input[type=radio]+ label:focus,
.modern-checkbox input[type=checkbox]+ label:focus{
    color: rgba(35, 137, 173, 1);
}
.modern-radio input[type=radio]:not(:checked) + label:focus:before,
.modern-checkbox input[type=checkbox]:not(:checked) + label:focus:before{
    box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, .3),
        0px 0px 0px .8125rem rgba(160, 224, 246, .3),
        inset 0px 0px 0px .2rem white;
}
.modern-radio input[type=radio]:checked + label:active:before,
.modern-radio input[type=radio]:checked + label:focus:before{
    box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, .3),
        0px 0px 0px .8125rem rgba(160, 224, 246, .3),
        inset 0px 0px 0px .2rem white;
    background: rgba(35, 137, 173, 1);
}


.modern-form-list-add .modern-list-group .modern-form-list-button,
.modern-form-list-add .modern-list-title .modern-form-list-button{
    border-style: solid;
    border-color: rgba(156, 156, 156, 1);
}
.modern-form-list-add .modern-form-list-button:hover, .modern-form-list-add .modern-form-list-button:focus{
    border-color: rgba(48, 188, 237, 1);
}
/* Badge e textos coloridos*/
.badge, .badge *{
    color: white;
}
.badge.success, .badge.success *{
    background-color: rgba(91, 186, 111, 1);
}
.badge.alert, .badge.alert *{
    background-color: rgba(234, 82, 111, 1);
}
.success-text{
    color: rgba(91, 186, 111, 1);
}
.alert-text, .error-msg{
    color: rgba(234, 82, 111, 1);
}
.animate-button:active, .animate-button:focus{
    -webkit-animation: clickroundedbuttons .65s ease-in-out;
    animation: clickroundedbuttons .65s ease-in-out;
}
@-webkit-keyframes clickroundedbuttons{
    0% {box-shadow: 0px 0px 0px 0px rgba(160, 224, 246, .3);}
    40% {box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, .3);}
    50% {box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, .3);}
    100% {box-shadow: 0px 0px 0px .8125rem rgba(160, 224, 246, 0);}
}
@keyframes clickroundedbuttons{
    0% {box-shadow: inherit, 0px 0px 0px 0px rgba(160, 224, 246, .3), inherit;}
    40% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(160, 224, 246, .3), inherit;}
    50% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(160, 224, 246, .3), inherit;}
    100% {box-shadow: inherit, 0px 0px 0px .8125rem rgba(160, 224, 246, 0), inherit;}
}